body {
  overflow: hidden;
  /* Hide scrollbars */
}

.App {
  display: flex;
  height: 100vh;
}

.App {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}