.navbar__details__container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.navbar__details__title {
    display: flex;
    flex-direction: row;
    flex-grow: 1.5;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.navbar__details__cloudy {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar__details__Humidity {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar__details__Wind {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar__details__Rain {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar__details__container h3 {
    color: white;
}

.title h3 {
    color: white;
}

@media only screen and (max-width: 1540px) {
    .navbar__details__title {
        position: relative;
        left: 15px;
    }
    .navbar__details__cloudy {
        position: relative;
        left: 10px;
    }
    .navbar__details__Humidity {
        position: relative;
        left: 10px;
    }
    .navbar__details__Wind {
        position: relative;
        left: 10px;
    }
}

@media only screen and (min-width: 1600px) {
    .navbar__details__title {
        position: relative;
        left: 40px;
    }
    .navbar__details__cloudy {
        position: relative;
        left: 40px;
    }
    .navbar__details__Humidity {
        position: relative;
        left: 40px;
    }
    .navbar__details__Wind {
        position: relative;
        left: 40px;
    }
}